* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    background-color: var(--header-color);
    padding-top: 1rem;
    
}

:root {
    --header-color: #3161e0;
    --btn-text-dark-color: #23272a;
    --btn-lilla-color: #8ea1e1;
    --bg-grey-color: #f6f6f6;
    --footer-text-color: #7289da;
}

.container {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.section {
    padding: 6rem 0rem;
}



/*buttons*/
.button {
    border: 0;
    border-radius: 30px;
    padding: 1rem 1.5rem;
}

.button.btn-dark {
    color: white;
    background-color: var(--btn-text-dark-color);
}

.btn-small-white {
    background-color: white;
}

.btn-small-lilla {
    background-color: var(--btn-lilla-color);
    color: white;
}

.btn-small-lilla, .btn-small-white {
    padding: 0.7rem 1rem
}

.btn-lilla {
    color: white;
    background-color: var(--btn-lilla-color);
    padding: 0.7rem 1.5rem;
    margin-top: 20px;
}



/*text and title*/
p, h1 {
    padding: 1.5rem 0rem;
    line-height: 1.5rem;
    color: var(--bg-dark-color)
}

h1 {
    font-size: 2.5rem;
}

h2 {
    padding-top: 2rem;
    font-size: 2rem;
    color: var(--bg-dark-color);
}

h5 {
    font-size: 1.5rem;
}

.footer-box > h5, h6 {
    color: var(--footer-text-color);
}



/*navigation bar*/
.logo {
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-end;
}

.menu {
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.menu-list {
    list-style: none;
    flex-direction: row;
    justify-content: center;
    padding: 0rem 0.5rem;
    gap: 1rem;
}

.login {
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}



/*main jumbotron section*/
.jumbotron-wallpaper {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron-text {
    padding: 1rem 10rem;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
}

.jumbotron-text > h1, .jumbotron-text > p {
    color: white;
    padding: 1rem;
    line-height: 1.5rem;
}

.jumbotron-button {
    gap: 2rem;
}



/*main sections*/
.img-box {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 4rem;
}

.text-box {
    text-align: left;
    flex-direction: column;
}

.bg-grey {
    background-color: var(--bg-grey-color);
}

.last-box {
    text-align: center;
}

.download-section {
    padding-top: 3rem;
}

.star {
    align-items: center;
    justify-content: center;
}

.star > img {
    position: relative;
    bottom: 1rem;
    top: 1.5rem;
}



/*footer*/
.bg-dark {
    background-color: var(--btn-text-dark-color);
}

.footer-box {
    flex-grow: 1;
    flex-direction: column;
    color: white;
    padding: 2rem 1rem;
    line-height: 1.5rem;
    border-bottom: 2px solid #4a5781;
}

.ft-box-large {
    flex-grow: 1;
    padding: 2rem 0rem;
    line-height: 2rem;
}

.footer-list li {
    list-style: none;
}

.flag {
    width: 5%;
    vertical-align: middle;
}

.flag-text {
    font-size: 0.7rem;
}

.social-icons {
    padding-right: 1rem;
}


/*footer navigation bar*/
.section-footer {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.nav-footer {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo-footer, .bottone-footer {
    padding: 5px;
    justify-content: space-between;
}